<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>    
    <add name="SCSDEntities1" connectionString="metadata=res://*/SCSDEntities.csdl|res://*/SCSDEntities.ssdl|res://*/SCSDEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=SCSD;user id=sa;password=Changep0nd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>