@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
@Html.ActionLink("Sign Out", "Logout", "Account")|@Html.ActionLink("Change Password", "Changepassword", "Account")